html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;500;600;700&display=swap');

/* section custom */
h1 {
    font-family: "Poppins", "Inter", sans-serif;
    /* font-size: 3rem; */
    font-weight: 700;
}

h2 {
    font-family: "Inter", sans-serif;
    /* font-size: 1.5rem; */
    font-weight: 600;
}

p {
    font-family: "Poppins", sans-serif;
    /* font-size: 1.05rem; */
    font-weight: normal;
}

/* navigation start */
.nav {
    background-color: #202020;
    padding: 10px 0px;
    height: 38px;
    position: sticky;
    top: 0;
    filter: drop-shadow(3px 3px 10px #424242);
    z-index: 20;
}

.container_1 {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.placeholder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    align-items: center;
    transition: 0.4s;
}

.logo:active {
    scale: 90%;
}

.logo:hover {
    scale: 105%;
}

.hambar {
    display: flex;
    width: 20%;
    justify-content: end;
}

.hambar svg {
    display: flex;
    flex-shrink: 0;
    fill: white;
    padding: 4px;
    height: 1.8rem;
    width: 2rem;
    border: 0.2px solid #555;
    transition: 0.4s;
    border-radius: 15px;
}

.hambar svg:hover {
    background-color: #303030;
    cursor: pointer;
}

.hambar svg:active {
    scale: 90%;
}

.navbar {
    display: none;
    width: 50%;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    display: flex;
}

.navbar ul li a {
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.5rem 1.3rem;
    margin-left: 0.3rem;
    transition: 0.4s;
    border-radius: 1.3rem;
}

.navbar a:hover {
    background-color: #fff;
    color: #101010;
    font-size: 0.95rem
}

.navbar a:active {
    scale: 90%;
}

/* navigation end */
/* hero start */
.hero {
    display: flex;
    direction: row;
    background: #101010;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 1.5rem;
    min-height: 70vh;
    filter: drop-shadow(5px 0px 10px rgba(63, 63, 63, 0.719));
}

.container_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 60%;
    align-items: center;
    height: 100%;
}

.hero img {
    max-width: 40vw;
    position: relative;
    top: -1rem;
    border-radius: 44rem;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    text-decoration: none;
    height: 16.125rem;
    width: 95%;
    position: relative;
    top: -2rem;
    /* background-color: aqua; */
}

.title h2 {
    padding-bottom: 0.2rem;
    text-align: center;
    font-size: 3.2vw;
}

.title h1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 6.8vw;
}

.title p {
    text-align: center;
    padding-top: 0.2rem;
    font-size: 2.8vw;
}

.title a {
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: #7ec1ff;
    align-self: center;
    padding: 1.2rem 2.2rem;
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 2rem;
    border-radius: 20rem;
    transition: 0.5s;

}

.title a:hover {
    scale: 95%;
    background-color: #3f78ad;
    color: white;
}

.title a:active {
    animation: infinite (pulse);
    background-color: #7ec1ff;
    color: #000;
}

/* hero end */
/* about start */
.about {
    display: flex;
    flex-direction: column;
    background-image: url(img/dot-grid.webp);
    align-items: center;
}

.about_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.about_title h2 {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 600;
}

.about_title .line {
    background-color: #303030;
    margin-top: 0.6rem;
    height: 3px;
    border-radius: 10rem;
}

.container_3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 98vw;
    /* background-color: #7ec1ff; */
    overflow: hidden;
}

.container_3 img {
    margin-top: 1rem;
    display: flex;
    order: 1;
    justify-self: flex-end;
    max-width: 50rem;
    position: relative;
    left: 11rem;
    overflow: hidden;
}

.about_text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1.2rem;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 1.2rem;
    border-top-right-radius: 0;
    background-color: #fff;
    max-width: 40vw;
    filter: drop-shadow(10px 10px 5px #2b2b2b81);
    z-index: 5;
    transition: 0.5s;
    text-align: center;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5rem;
}

.about_text:hover {
    scale: 105%;
}

.about_text p {}

b {
    font-weight: 500;

}


/* about end */
/* custom section ending */

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(1, 247, 255, 0.7);
    }

    50% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(12, 255, 255, 0);
    }

    70% {
        box-shadow: 0 0 0 0 rgba(8, 180, 248, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(12, 255, 255, 0);
    }

}

/* media queries */
@media only screen and (max-width: 768px) {
    .container_1 {
        width: 85%;
    }

    .container_2 {
        width: 85%;
    }

    .hambar {
        display: flex;
    }

    .flexmenu {
        display: flex;
        justify-content: center;
    }

    .menu {
        display: flex;
        position: absolute;
        top: 58px;
        width: 100%;
        height: 0px;
        background-color: #202020;
        justify-content: space-evenly;
        opacity: 0;
        transition: 0.5s;

    }

    .menu.active {
        height: 50vh;
        opacity: 0.96;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .menu ul li {
        justify-content: center;
    }

    .menu ul li a {
        display: flex;
        text-decoration: none;
        color: white;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 0.5rem;
        padding: 0.5rem 8rem;
        border-radius: 5rem;
        transition: 0.7s;
    }

    .menu ul li a:hover {
        background-color: #fff;
        color: #101010;
        scale: 105%;
    }

    .menu.active ul li a {
        font-size: 1.1rem;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hambar {
        display: none;
    }

    .menu {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .hero {
        height: 75vh;
    }

    .hero img {
        max-width: 30vw;
    }

    .title h1 {
        font-size: 5.1vw;
    }

    .title h2 {
        font-size: 1.98vw;
    }

    .title p {
        font-size: 1.88vw;
    }

    .title a {
        font-size: 1.8vw;
    }

    .container_3 img {
        left: 15rem;
    }

    .about_text {
        max-width: 55vw;
        margin-left: 5%;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar {
        width: 35%;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 450px;
    }

    .hero img {
        top: -4rem;
    }

    .container_2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 1.5rem;
    }

    .title {
        align-items: flex-start;
        justify-content: flex-start;
        width: 30rem;
        padding-left: 9rem;
    }

    .title h1 {
        font-size: 3rem;
        text-align: left;
    }

    .title h2 {
        font-size: 1.5rem;
        text-align: start;
    }

    .title p {
        font-size: 1rem;
        text-align: left;
    }

    .title a {
        font-size: 1rem;
        padding: 1rem 2.2rem;
        align-self: flex-start;
    }

    .container_3 img {
        left: 10rem;
    }

    .about_title h2 {
        font-size: 2.5rem;
        transition: 0.5s;
    }

    .about_title h2:hover {
        font-stretch: semi-condensed;
        font-size: 2.7rem;
    }

    .about_text {
        justify-content: center;
        margin-left: 6%;
        max-width: 45vw;
        height: 30vh;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar {
        width: 30%;
    }

    .navbar a {
        margin-left: 0.3rem;
    }

    .container_3 img {
        left: 6rem;
    }

    .about_text {
        justify-content: center;
        margin-left: 7%;
        max-width: 45vw;
        height: 30vh;
    }

}



/* media queries end */